{% extends "new_base.html" %}

{% block content %}
<div class="container mx-auto mt-24">
    <div class="max-w-4xl mx-auto bg-white p-8 rounded-lg shadow-md">
        <h2 class="text-2xl font-bold mb-6 text-center text-[#3C75B1]">Update Password</h2>
        <p class="text-center mt-5">Enter and confirm your new password.</p>

        <form method="POST" action="{{ url_for('auth.reset_password', token=token) }}">
            {{ form.hidden_tag() }}

            <!-- Password Field -->
            <div class="mb-4 mt-10 mx-16">
                {{ form.password.label(class_="block text-gray-700 text-sm font-bold mb-2") }}
                {{ form.password(class_="form-input mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50 h-9 pl-1", style="border: 1px solid #000000;") }}
            
                {% if form.password.errors %}
                    <p class="text-red-500 text-sm mt-2">{{ form.password.errors[0] }}</p>
                {% endif %}
            </div>

            <!-- Confirm Password Field -->
            <div class="mb-4 mx-16">
                {{ form.password2.label(class_="block text-gray-700 text-sm font-bold mb-2") }}
                {{ form.password2(class_="form-input mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50 h-9 pl-1", style="border: 1px solid #000000;") }}
            
                {% if form.password2.errors %}
                    <p class="text-red-500 text-sm mt-2">{{ form.password2.errors[0] }}</p>
                {% endif %}
            </div>

            <!-- Submit Button -->
            <div class="mt-6 flex justify-end mx-16">
                {{ form.submit(class_="bg-[#225993] text-white px-4 py-2 rounded hover:bg-[#1B487A] focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500") }}
            </div>
        </form>
    </div>
</div>
{% endblock %}