{% extends "new_base.html" %}

{% block content %}
<div class="flex min-h-full flex-col justify-center px-4 py-6 sm:px-6 lg:px-8 sm:py-12">
  <!-- Outer card with different background color -->
  <div class="bg-white shadow-md rounded-lg p-8 w-full max-w-xl mx-auto">
    <!-- Inner content (heading and form) -->
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
      <h2 class="text-2xl font-bold text-center text-[#3C75B1]">Reset Password</h2>
      <p class="mt-5 text-center">Enter your email and we will send you a verification link, that can be used to reset your password.</p>
    </div>

    <!-- Form Section -->
    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
      <form method="POST" action="{{ url_for('auth.reset_password_request') }}">
        {{ form.hidden_tag() }}

        <!-- Email Field -->
        <div class="mb-4">
          {{ form.email.label(class_="block text-gray-700 text-sm font-medium mb-2") }}
          {{ form.email(class_="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 pl-2", placeholder="example@domain.com", onfocus="this.setAttribute('placeholder', '')", onblur="this.setAttribute('placeholder', 'example@domain.com')") }}
          {% if form.email.errors %}
          <p class="mt-2 text-sm text-red-600">{{ form.email.errors[0] }}</p>
          {% endif %}
        </div>

        <!-- Submit Button -->
        <div class="mt-6 flex justify-end">
            {{ form.submit(class_="bg-[#225993] text-white px-3 py-1.5 rounded hover:bg-[#1B487A] focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-[#3C75B1]") }}
          </div>          
      </form>
    </div>
  </div>
</div>
{% endblock %}
