<div class="flex space-x-4 mb-4">
    <div class="flex-shrink-0">
        <a href="{{ url_for('main.user', username=comment.author.username) }}">
            <img class="h-11 w-11 rounded-full" src="{{ comment.author.avatar(100) }}" alt="{{ comment.author.username }}">
        </a>
    </div>
    <div class="flex-grow">
        <div class="bg-white p-4 rounded-lg shadow">
            <div class="flex flex-col sm:flex-row sm:items-center sm:justify-between mb-2">
                <a href="{{ url_for('main.user', username=comment.author.username) }}" class="text-blue-500 hover:underline font-semibold">
                    {{ comment.author.username }}
                </a>
                <span class="text-sm text-gray-500">{{ moment(comment.timestamp).fromNow() }}</span>
            </div>
            <p class="text-gray-700">{{ comment.body }}</p>
        </div>
    </div>
</div>