<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% if title %}
    <title>{{ title }} - Osol Blogs</title>
    {% else %}
    <title>Welcome to Osol Blogs</title>
    {% endif %}

    <!-- Include Tailwind CSS CDN -->
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- Include Masonry CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.2.2/masonry.pkgd.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-[#CEEAF7] text-gray-900">
    <nav class="bg-white shadow">
        <div class="container mx-auto px-6 py-4 flex justify-between items-center">
            <div class="flex items-center space-x-6">
                <!-- Logo -->
                 <a href="{{ url_for('main.index') }}">
                 <img class="w-15 h-10" src="https://osoltech.com/hs-fs/hubfs/Medium%20size%20with%20Tag%20line.png?width=140&height=69&name=Medium%20size%20with%20Tag%20line.png" alt="Microblog">
                 </a>
                 <a class="text-xl font-semibold text-gray-800" href="{{ url_for('main.index') }}">Microblog</a>
                {% if title != 'Login' %}
                <ul class="flex space-x-4">
                    <li><a class="text-lg text-gray-800 hover:text-gray-600" href="{{ url_for('main.explore') }}">Explore</a></li>
                    <li><a class="text-lg text-gray-800 hover:text-gray-600" href="{{ url_for('main.add_blog') }}">Add Blog</a></li>
                </ul>
            </div>

            <!-- Right side with search, profile, logout -->
            <div class="flex items-center space-x-4">
                <!-- Search form -->
                <form class="relative flex" method="POST" action="{{ url_for('main.search') }}" onsubmit="return ValidateSearch()">
                    {{ form.hidden_tag() }}
                    <input type="search" name="searched" id="searched" class="border border-gray-300 rounded-lg pl-4 pr-10 py-2 focus:outline-none" placeholder="Search">
                    <button type="submit" class="absolute inset-y-0 right-0 pr-3 flex items-center text-gray-500 hover:text-gray-700"><i class="fas fa-search"></i></button>
                </form>

                <!-- Profile dropdown -->
                {% if not current_user.is_anonymous %}
                <div class="relative">
                    <button id="dropdownButton" class="text-lg flex items-center space-x-2 text-gray-800 hover:text-gray-600 focus:outline-none" onclick="toggleDropdown()">
                        <img class="w-8 h-8 rounded-full" src="{{ current_user.avatar(50) }}" alt="User avatar">
                        <span>{{ current_user.username }}</span>
                        <svg class="w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path>
                        </svg>
                    </button>
                    <!-- Dropdown menu -->
                    <div id="profileDropdown" class="hidden absolute right-0 mt-2 w-48 bg-white rounded-md shadow-lg z-10">
                        <ul class="py-1">
                            <li><a href="{{ url_for('main.user', username=current_user.username) }}" class="block px-4 py-2 text-gray-800 hover:bg-gray-100">View Profile</a></li>
                            <li><a href="{{ url_for('main.edit_profile') }}" class="block px-4 py-2 text-gray-800 hover:bg-gray-100">Update Profile</a></li>
                            <!-- Modify Logout link to trigger modal -->
                            <li><a href="javascript:void(0);" onclick="openModal()" class="block px-4 py-2 text-gray-800 hover:bg-gray-100">Logout</a></li>
                        </ul>
                    </div>
                </div>
                {% else %}
                <ul class="flex space-x-4">
                    <li><a class="text-gray-800 hover:text-gray-600" href="{{ url_for('auth.login') }}">Login</a></li>
                </ul>
                {% endif %}
            </div>
            {% endif %}
        </div>
    </nav>

  <div class="container mx-auto relative">
      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <!-- Toast container with absolute positioning -->
        <div class="absolute top-4 right-4 space-y-3 z-50">
          {% for category, message in messages %}
          <!-- Assign a unique ID to each toast message -->
          <div id="toast-{{ loop.index }}" class="max-w-xs bg-white border border-gray-200 rounded-xl shadow-lg dark:bg-neutral-800 dark:border-neutral-700" role="alert" tabindex="-1" aria-labelledby="hs-toast-{{ category }}-example-label">
            <div class="flex p-4">
              <div class="shrink-0">
                <!-- Icon selection based on the category -->
                {% if category == 'success' %}
                <svg class="shrink-0 size-4 text-teal-500 mt-0.5" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                  <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path>
                </svg>
                {% elif category == 'error' %}
                <svg class="shrink-0 size-4 text-red-500 mt-0.5" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                  <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"></path>
                </svg>
                {% elif category == 'warning' %}
                <svg class="shrink-0 size-4 text-yellow-500 mt-0.5" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                  <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"></path>
                </svg>
                {% else %}
                <svg class="shrink-0 size-4 text-blue-500 mt-0.5" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                  <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"></path>
                </svg>
                {% endif %}
              </div>
              <div class="ms-3">
                <p id="hs-toast-{{ category }}-example-label" class="text-sm text-gray-700 dark:text-neutral-400">
                  {{ message }}
                </p>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      {% endif %}
      {% endwith %}
      {% block content %}{% endblock %}
  </div>

    <!-- Logout confirmation modal -->
    <div id="logoutModal" class="fixed inset-0 hidden z-50 bg-gray-500 bg-opacity-75">
      <div class="fixed inset-0 z-10 flex items-center justify-center p-4 text-center sm:items-center sm:p-0">
        <div class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg">
          <div class="bg-white px-4 pb-4 pt-5 sm:p-6 sm:pb-4">
            <div class="sm:flex sm:items-start">
              <div class="mx-auto flex h-12 w-12 flex-shrink-0 items-center justify-center rounded-full bg-red-100 sm:mx-0 sm:h-10 sm:w-10">
                <svg class="h-6 w-6 text-red-600" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126zM12 15.75h.007v.008H12v-.008z" />
                </svg>
              </div>
              <div class="mt-3 text-center sm:ml-4 sm:mt-0 sm:text-left">
                <h3 class="text-base font-semibold leading-6 text-gray-900" id="modal-title">Log out</h3>
                <div class="mt-2">
                  <p class="text-sm text-gray-500">Are you sure you want to log out?</p>
                </div>
              </div>
            </div>
          </div>
          <div class="bg-gray-50 px-4 py-3 sm:flex sm:flex-row-reverse sm:px-6">
            <button id="confirmLogout" type="button" class="inline-flex w-full justify-center rounded-md bg-red-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-red-500 sm:ml-3 sm:w-auto">Logout</button>
            <button type="button" class="mt-3 inline-flex w-full justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:mt-0 sm:w-auto" onclick="closeModal()">Cancel</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Dropdown and Modal control scripts -->
    <script>
      function toggleDropdown() {
        const dropdown = document.getElementById('profileDropdown');
        dropdown.classList.toggle('hidden');
      }

      function openModal() {
        document.getElementById('logoutModal').classList.remove('hidden');
      }

      function closeModal() {
        document.getElementById('logoutModal').classList.add('hidden');
      }

      window.onclick = function(event) {
        if (!event.target.closest('#dropdownButton')) {
          const dropdown = document.getElementById('profileDropdown');
          if (!dropdown.classList.contains('hidden')) {
            dropdown.classList.add('hidden');
          }
        }
      }

      document.getElementById('confirmLogout').onclick = function() {
        window.location.href = "{{ url_for('auth.logout') }}";
      }

      // Initialize Masonry
      window.onload = function() {
        var grid = document.querySelector('.grid');
        var msnry = new Masonry(grid, {
          itemSelector: '.grid-item',
          columnWidth: '.grid-sizer',
          percentPosition: true
        });
      }
    
      document.addEventListener("DOMContentLoaded", function() {
        // Select all toasts
        const toasts = document.querySelectorAll('[id^="toast-"]');
        // Set a timeout to remove each toast after 5 seconds (5000 ms)
        toasts.forEach((toast) => {
          setTimeout(() => {
            toast.remove();
          }, 5000); // Adjust time if necessary
        });
      });

      function ValidateSearch() {
        // Get the search input value
        const searchInput = document.getElementById('searched').value.trim();
        
        // Check if the input is empty
        if (searchInput === '') {
          return false; // Prevent form submission
        }
        
        return true; // Allow form submission if input is not empty
      }

    </script>
    {{ moment.include_moment() }}
    {{ ckeditor.load() }}
</body>
</html>
